[submodule "libdatachannel"]
	path = libdatachannel
	url = https://github.com/danielbodart/libdatachannel.git
[submodule "wlroots"]
	path = wlroots
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
