[submodule "packages/libdatachannel"]
	path = packages/libdatachannel
	url = https://github.com/danielbodart/libdatachannel.git
[submodule "packages/wlroots"]
	path = packages/wlroots
	url = https://github.com/danielbodart/wlroots.git
	branch = zerocast-linear-gbm
[submodule "packages/svt-av1"]
	path = packages/svt-av1
	url = https://gitlab.com/AOMediaCodec/SVT-AV1.git
