[submodule "libdatachannel"]
	path = libdatachannel
	url = https://github.com/danielbodart/libdatachannel.git
[submodule "wlroots"]
	path = wlroots
	url = https://github.com/danielbodart/wlroots.git
	branch = zerocast-linear-gbm
